.card {
        width: 100px;
        height: 140px;
        border: 1px solid blue;
        border-radius: 10px;
        text-align: center;
        font-size: 36px;
        background-color: white;
        box-shadow: rgb(128, 128, 128) 5px 5px;
}

.back {
        background-image: url("card.png");
        background-size: 100px 140px;
}

input {
        width: 4em;
}
