#canvas {
        width: 800px;
        height: 600px;
        touch-action: none;
}

#START {
        position: absolute;
        left: 200px;
        top: 200px;
}

.hidden {
        display: none;
}
